.App {
  min-height: 100%;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  min-width: 100%;
}

@media (min-width: 1024px) {
  .App {
    gap: 0.5em;
    align-items: center;
  }
}
