.App {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  min-width: 24rem;
}

.toast {
  border-radius: 0.25em;
  font-size: 2em;
  position: absolute;
  display: flex;
  margin: 4rem 0;
  height: 6rem;
  width: 23rem;
  background-color: var(--done-color);
  filter: opacity(0.95);
  align-items: center;
  justify-content: center;
  border-left: 0.5rem solid var(--checkbox-bg-color);
}

.todo-list {
  padding: 0 0.25em 5em 0.25em;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  span {
    padding: 0 0.25em;
  }
}

.todo {
  display: inline-flex;
  background-color: var(--accent-color);
  padding: 0.25em 0.1em;
  margin: 0.25em 0.25em;
  border-radius: 0.2em;
  height: fit-content;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  input {
    margin: 0 0.5em;
  }

  span {
    margin: 0.5em 0;
  }
}

.show {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em 0;

  hr {
    padding-left: 1em;
    /* width: 99.7%; */
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1.25em;
    height: 1px;
    overflow: visible;
  }

  hr::before {
    background-color: var(--main-color);
    color: var(--font-color);
    position: relative;
    top: -0.6rem;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f078';
  }
}

.conceal {
  hr::before {
    background-color: var(--main-color);
    color: var(--font-color);
    position: relative;
    top: -0.9rem;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f077';
  }
  .todo-completed {
    display: none;
  }
}

.todo-completed {
  .todo {
    background-color: var(--done-color);
  }
  ¨ span {
    text-decoration: line-through;
  }
}

.user-input {
  position: fixed;
  bottom: 0;
  left: 0;
  display: inline-flex;
  padding: 0.5em 3.25%;
  justify-content: center;
  width: 100%;
  min-width: 24em;

  input {
    padding: 0 0.5em;
    height: 3rem;
    border: 0;
    width: 25rem;
  }

  input:focus {
    border: 1px solid var(--button-color);
    outline: none;
  }

  button {
    height: 0;
    width: 0;
    position: relative;
    top: 0.75em;
    right: 2em;
    border-top: 0.75em solid transparent;
    border-left: 1.5em solid var(--button-color);
    border-bottom: 0.75em solid transparent;
    border-right: 0;
  }

  button:hover {
    border-top: 0.75em solid transparent;
    border-left: 1.5em solid var(--checkbox-bg-color);
    border-bottom: 0.75em solid transparent;
  }
}

@media (min-width: 1024px) {
  .App {
    gap: 0.5em;
    align-items: center;
  }
  .todo-list {
    padding-top: 5rem;
    width: 70em;
  }
  .todo-uncompleted {
    max-height: 30rem;
    overflow: scroll;
  }
  .todo-completed {
    max-height: 30rem;
    overflow: scroll;
  }
  .todo {
    max-width: 49%;
  }
  .user-input {
    padding-bottom: 3rem;
  }
  input[type='text'] {
    width: 40rem;
  }
}
